@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;400;500;600;700;800&display=swap");
/* shared style  */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header style  */

.header {
  background-color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 100px;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-items li {
  margin-left: 30px;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: 94% 60%;
  margin-top: 40px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
}
.banner-desc {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  width: 505px;
  margin: 15px 0px;
}
.btn-primary {
  padding: 10px 24px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 41px;
  background-color: #e02c6d;
  border: 0;
}
.banner-rignt img {
  width: 420px;
  height: 400px;
}
.sponsor-container {
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 50px 220px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
section{
    margin-top: 100px;
}
.card-img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    padding: 16px 13px;
}
.card-title{
    color: #18191F;
font-size: 1.5rem;
font-weight: 500;
}
.card h4{
  color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;
}
.card-content{
    margin-left: 13px;
    padding: 5px;
}
.card{
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.15);
    width: 329px;
height: 476px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 190px;
    margin-right: 190px;
    row-gap: 30px;
    column-gap: 30px;
}
.section-title{
color: #3A3A3A;
font-size: 1.5rem;
font-weight: 600;
text-align: center;
margin-bottom: 30px;
}
.seemore{
    color: rgba(224, 44, 109, 0.87);
font-size: 1rem;
font-weight: 700;
text-align: right;
margin-right: 160px;
padding: 5px;
}

/* responsive design for mobile
 */
@media only screen and (max-width: 572px) {
  .nav-container,
  .nav-items {
    flex-direction: column;
  }
    .banner-right img{
    width: 202px;
height: 190px;
  }
  .banner-container {
    flex-direction: column-reverse;
    background-position:  50% 190%;
  }
  .nav-container {
    padding: 10px;
  }
  .nav-item {
    margin-top: 5px;
  }
  .banner-rignt img {
    width: 202px;
    height: 190px;
  }
  .banner-title {
    margin: 14px 20px;
    width: 90%;
    color: #3a3a3a;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
  .banner-desc {
    text-align: center;
    width: 90%;
    margin: 14px 20px;
  }
  .btn-primary {
    margin-left: 100px;
  }
  .sponsor-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 20px;
    row-gap: 10px;
  }
  .sponsor-container img {
    width: 100%;
  }
  .ml {
    margin-left: 40px;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 40px;
    margin-right: 5px;
  }


}
/* responsive design for tab
 */

@media only screen and (max-width: 790px) and (min-width: 572px) {
  .nav-container {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column-reverse;
    background-position: top;
  }
  .sponsor-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 20px;
    row-gap: 10px;
  }
  .sponsor-container img {
    width: 100%;
  }
  .ml {
    margin-left: 40px;
  }
  .btn-primary {
    margin-left: 100px;
  }
   .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
    margin-right: 2px;
  }
}
